<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> WDL Project</title>

	<!-- CSS Files -->
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

</head>
<body>
	<header>
		<nav id="header-nav" class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a href="../index.html" class="pull-left visible-md">
						<div id="logo"></div>
					</a>
					<div class="navbar-brand">
						<a href="../index.html">
							<h1> TechSec </h1>
						</a>
					</div>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#col-nav" aria-expanded="false">
						<span class="sr-only"> Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>	
					</button>
				</div>
				<div id="col-nav" class="navbar-collapse collapse">
					<ul id="nav-list" class="navbar-nav nav navbar-right">
						<li>
							<a href="../index.html" class="active">
								<span class="glyphicon glyphicon-home"></span><br class="hidden-xs"> Home
							</a>
						</li>
						<li>
							<a href="tstech.html">
								<span class="glyphicon glyphicon-book"></span><br class="hidden-xs"> Tech
							</a>
						</li>
						<li>
							<a href="tssec.html">
								<span class="glyphicon glyphicon-link"></span><br class="hidden-xs"> Sec
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div id="blog-headings">
		<div class="container">
			<h1> TECHSEC BLOGS</h1>
			<h2> The Latest</h2>
			<hr>
		</div>
	</div>

	<div id="blog-content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 blog">
					<h3> Airtel Posts Highest-Ever Quarterly Revenue on Higher Tariffs, Data Usage. </h3>
				</div>
				<div class="col-xs-6 col-sm-4 blogtxt">
					Indian telecom operator Bharti Airtel reported its highest ever quarterly consolidated revenue on Tuesday, driven by higher tariffs and a rise in data usage from a coronavirus-fuelled shift to remote working.
					Indian telecom operators, grappling with low tariffs due to a price war that ensued after Mukesh Ambani's Reliance Jio entered the space, hiked prices last year as they were ordered to pay Rs. 92,000 crores in dues to the government.
					That helped the company's quarterly consolidated revenue rise 22 percent to Rs. 25,785 crores.
				</div>
				<div class="col-xs-6 col-sm-4 blogimg">
					<img src="../images/airtel.jpg" alt="Blog1Img" class="center">
					<div>source<p>Gadgets.ndtv</p></div>
				</div>
				<div class="col-xs-12"> <hr> </div>
				<div class="col-xs-12 col-sm-4 blog">
					<h3> Netflix App for Android May Soon Add Background Audio Playback Option, Code Hints. </h3>
				</div>
				<div class="col-xs-6 col-sm-4 blogtxt">
					Netflix is reportedly preparing to add an audio-only feature to its Android app that is said to let users (just) listen to Netflix shows, or, listen to their shows while they do other things with their devices. A publication has been able to unearth evidence in the Netflix app for Android that mentions a background audio playback feature. Apart from the benefits of multitasking, the feature - that essentially turns off video - will also be able to help users save data and their device's battery life.
				</div>
				<div class="col-xs-6 col-sm-4 blogimg">
					<img src="../images/netflix.jpg" alt="Blog1Img" class="center">
					<div>source<p>Gadgets.ndtv</p></div>
				</div>
			</div>
		</div>
	</div>
	<footer class="panel-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<span id="copy"> &copy; TechSec 2020. </span>
				</div>
			</div>
		</div>
	</footer>


	<!-- JS Files -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
</body>
</html>